<div class="about">
		<div class="container about_container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="section_title_container">
							<div class="section_subtitle">Welcome to RunTrack</div>
							<div class="section_title">About <span>RunTrack</span></div>
						</div>
						
						<div class="about_text">
							<p>RunTrack is an online sporting platform created with the sole purpose of providing easier access for children, young people, and young adults to find sports events in their locality. Teams, trainers, and organizations will sign up and post upcoming events while other users will sign up to find the posted events.</p>
						</div>
	
					</div>
				</div>
			</div>
		</div>
		<div class="about_background">
			<div class="container fill_height">
				<div class="row fill_height">
					<div class="col-lg-6 offset-lg-6 fill_height">
						<div class="about_image"><img src="{{ asset('img/dunk.jpeg') }}" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>